
  .contentCenter{
      display: flex;
      flex-direction: column;
      align-items: center;  
      margin-top: 4%;
      justify-content: center;
      color: var(--white);
  }
  .score {
      font-size: 60px;
  }
  .time {
      font-size: 70px;
      margin-left: 5%;
  }
  .highScore{
      font-size: 40px;
  }
  .playAgain{
      font-size: 40px;
      color: var(--lightRed);margin-top:0;
       }
       .buttonArea{
           display:flex;
           background: none;
           width: 40%;
           outline: none;
           margin: 2% 0 0 15%;
       }
  .reloadIcon{
      width: 38px;
      margin-right: 2%;
  }
.quit{
    background: none;
    font-size: 30px;
    color: var(--lightRed);
    margin: 7% 0 0 2%;
    cursor: pointer;
    outline: none;
}