:root{
    --lightRed: #ff5155;
    --white: #ffffff;
    --evergreen: #032228;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../../assets/Background-image.svg), linear-gradient(to top, #063C47, #000000);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .gameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
   }
   .gameHeader {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 20%;
   }
   .playerDetails{
       display: flex;
       width: 100%; 
       height: 50%;
       margin-left: 2%;
   }
   .headerTitle {
       font-size: 35px;
       color: var(--lightRed);
       margin-left: 2%;
   }
   .headerTitleRight{
    font-size: 35px;
    color: var(--lightRed);
    width: 60%;
    text-align: end;
   }
   .gameDetails{
       display:flex;
       width: 100%; 
       margin: 0.5% 0 0 2%;
   }
   .gameLevel {
    font-size: 35px;
    color: var(--lightRed);
    margin-left: 2%;
   }
   .gameContent {
    display: flex;
    width: 100%;
    height: 70%;
}
.scoreBoard {
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    border: solid 3px var(--lightRed);
    height: 95%;
    width: 25%;
    margin: 1% 0 0 2%;
    color: var(--lightRed);
}
.typingSection{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95%;
}
.timer{
    width: 30%;
    height: 40%;
    margin: 2% 0 0 20%; 
}
.gameStop {
    display: flex;
    width: 100%;
    height: 10%;
}
.stopButton{
    font-size: 35px;
    color: var(--lightRed);
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    background: none;
    cursor: pointer;
}